.GroceryListMain{
    margin-left: 2%;
    margin-right: 2%;
}

.number{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

.name{
    position: relative;
    overflow-wrap: anywhere;
}

.name:hover{
    cursor: pointer;
}

.quantity{
    width: 20%;
    position: relative;
    overflow-wrap: anywhere;
}

.quantity:hover{
    cursor:pointer;
}

.overflowContainer{
    padding: 0;
    margin: 0;

    /*overflow-y: scroll;
    max-height: inherit;*/
}

.check{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.check-empty{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

/*Overriding bootstrap*/

.table-sm tr{
    height: 60px;
    /*max-height: 60px;*/
}

.table-sm td{
    padding: 0;
    vertical-align: middle;
    height: inherit;
    /*max-height: inherit;*/
}

.tableTextArea{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 55px;
    border-radius: 0px;
    border: 0px;

    resize: none;
    /*FIX TEXTAREA RESIZING ON LONG TEXTS*/
}

.tableTextArea:focus{
    outline: none;
    border-color: #51f032;
    box-shadow: 0 0 20px #51f032;
}

.btn-outline-dark{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn-outline-info{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn-outline-danger{
    padding: 0;
    margin: 0;
    width: 100%;
}
/*Overriding bootstrap ends*/

/*Styles for the NewItem and NewEditItem starts*/

.newItemContainer{
  padding: 0;
  margin: 0;
  border: 1px;
  border-style: solid;

  width: 100%;
  height: 60px;
}
