.GroceryListMain{
    margin-left: 5%;
    margin-right: 5%;
}

.number{
    width: 50px;
    text-align: center;
}

.name{
    max-width: auto;
    overflow: scroll;
}

.name:hover{
    cursor: pointer;
}

.quantity{
    width: 25%;
}

.quantity:hover{
    cursor:pointer;
}

.check{
    width: 50px;
}

.check-empty{
    width: 50px;
}

/*Overriding bootstrap*/

.table-sm td{
    padding: 0;
    vertical-align: middle;
    height: 50px;
}

.tableInput{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 0px;
}

.tableInput:focus{
    outline: none;
    border-color: #51f032;
    box-shadow: 0 0 20px #51f032;
}

.btn-outline-dark{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn-outline-info{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.btn-outline-danger{
    padding: 0;
    margin: 0;
    width: 100%;
}
